<div class="container">
  <div class="left">
    <h3>
      Обмен данными между компонентами осуществляется<br>
      при помощи декораторов @Input, @Output и EventEmmiter
    </h3>
    <hr>
    <p>
      &nbsp;&nbsp;Сверху компонент с формой создаёт объект с данными. При нажатии на кнопку "Добавить пост",
      объект отправляется в компонент со списком постов. Список мгновенно выводит добавленный объект.
    </p>
    <p>
      &nbsp;&nbsp;Здесь же реализован доступ до инпута при помощи
      декоратора @ViewChild, для фокусировки
      верхнего инпута после добавления поста.
    </p>
    <hr>
    <p>
      &nbsp;&nbsp;При нажатии на кнопку "Инвертировать цвет постов",
      динамически добавляется или исчезает класс в компоненте со списком постов
    </p>
    <p>
      &nbsp;&nbsp;По условию добавляется информация о длине поста. <br>
      При помощи декоратора @ContentChild получаем добавленный по условию
      шаблон и выводим его в консоль.
    </p>
  </div>
  <div class="right">
    <h1>Angular Components</h1>

    <h2>ViewEncapsulation.None</h2>

    <app-post-form
      (onAdd)="pushPost($event)"
      (onToggle)="invertColor($event)"
    ></app-post-form>
    <hr>

    <app-post
      *ngFor="let p of posts"
      [post]="p"
      [toggle]="toggle"
      (onRemove)="updatePosts($event)"
    >
      <div #info>
        <small *ngIf="p.text.length > 10; else short">Текст поста больше 10 символов</small>
        <ng-template #short>
          <small>Текст поста меньше 10 символов</small>
        </ng-template>
      </div>
    </app-post>
  </div>
</div>


